html:root {
  --rc-text-color: #CFD3DC;
  --rc-button-hover-bgcolor: rgba(255, 255, 255, 0.17);
}

* {
  padding: 0;
  margin: 0;
  user-select: none;

  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  
  &::-webkit-scrollbar:hover {
    cursor: default;
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.15);
  }
  
  &::-webkit-scrollbar-thumb:hover {
    cursor: default;
    background-color: rgba(255, 255, 255, 0.2);
  }
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: transparent;
}

.app-drag {
  -webkit-app-region: drag;
}

.app-no-drag * {
  -webkit-app-region: none;
}

.rc-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--rc-text-color);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.rc-button:hover {
  background-color: var(--rc-button-hover-bgcolor);
}

.rc-button:active>* {
  transform: scale(0.85);
}